NUXT_PUBLIC_PREVIEW_MODE=false
NUXT_PUBLIC_SLUG_DEFAULT_LENGTH=5
NUXT_SITE_TOKEN=op://Coownable/SINK_NUXT_SITE_TOKEN/credential
NUXT_REDIRECT_STATUS_CODE=308
NUXT_LINK_CACHE_TTL=60
NUXT_REDIRECT_WITH_QUERY=false
NUXT_HOME_URL="https://oartm.com"
NUXT_CF_ACCOUNT_ID=f89743d0a1a00c632bca2e32170e0a6a
NUXT_CF_API_TOKEN=op://Coownable/SINK_NUXT_CF_API_TOKEN/credential
NUXT_DATASET=sink
NUXT_AI_MODEL="@cf/meta/llama-3-8b-instruct"
NUXT_AI_PROMPT="You are a URL shortening assistant......"
NUXT_DISABLE_AUTO_BACKUP=false
NUXT_NOT_FOUND_REDIRECT=/your-own-404-page
